In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df_data = pd.read_excel('data.xlsx')

In [3]:
df_data = df_data.ffill()
df_data

,Date,Time,Choke,Psig,Barg,F,APsig,BOPD (Oil),MMSCFD (Gas),BWPD (Air)
0,2021-05-15,21:00:00,38,935,64.5,104,320,698.9,4.980,23.6
1,2021-05-15,21:15:00,38,935,64.5,104,321,822.5,4.988,32.6
2,2021-05-15,21:30:00,38,940,64.8,104,318,661.4,5.070,26.2
3,2021-05-15,21:45:00,38,938,64.7,104,317,737.7,5.061,29.2
4,2021-05-15,22:00:00,38,940,64.8,104,319,661.4,5.078,26.2
5,2021-05-15,22:15:00,38,942,64.9,104,319,712.2,5.078,28.2
6,2021-05-15,22:30:00,38,940,64.8,104,316,771.6,5.074,30.6
7,2021-05-15,22:45:00,38,942,64.9,104,318,678.3,5.091,26.9
8,2021-05-15,23:00:00,38,940,64.8,104,318,747.4,5.091,28.2
9,2021-05-15,23:15:00,38,945,65.2,103,320,694.0,5.086,26.2
10,2021-05-15,23:30:00,38,942,64.9,103,321,800.7,5.094,30.2
11,2021-05-15,23:45:00,38,944,65.1,103,322,782.9,5.165,29.6
12,2021-05-15,00:00:00,38,945,65.2,103,324,720.6,5.182,27.2

In [4]:
columns = ['Choke', 'Psig', 'APsig', 'BOPD (Oil)', 'MMSCFD (Gas)', 'BWPD (Air)']

In [5]:
# scaling normalization
min_params = df_data[columns].min()
max_params = df_data[columns].max()


df_normalized = df_data
df_normalized[columns] = (df_normalized[columns] - min_params) / (max_params - min_params)

In [6]:
#  split 90% 10%
def split(df_data):
  data_len = df_data.shape[0]
  train_len = math.floor((data_len * 0.9))

  data_train = df_data.iloc[:train_len,]
  data_test = df_data.iloc[train_len:,]

  return data_train, data_test

In [7]:
data_train, data_test = split(df_data)