In [1]:
import numpy as np
import pandas as pd
import math
import torch
from torch import nn
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from datetime import datetime

# Import

In [2]:
df_raw = pd.read_excel('West_Pangkah_WP-02_Production_test_1505211.xls', skiprows=6)

In [3]:
df_raw2 = df_raw[['Time', 'WELL HEAD', 'Unnamed: 2', 'SEPARATOR', 'Unnamed: 9', 'Unnamed: 12', 'Unnamed: 13']].copy()
columns = ['datetime', 'choke', 'psig', 'apsig', 'oil', 'gas', 'water']
df_raw3 = df_raw2.rename(columns={
  'Time': 'datetime', 
  'WELL HEAD': 'choke', 
  'Unnamed: 2': 'psig',
  'SEPARATOR': 'apsig',
  'Unnamed: 9': 'oil',
  'Unnamed: 12': 'gas',
  'Unnamed: 13': 'water',
  })

In [4]:
df_raw4 = df_raw3.iloc[2:]

In [5]:
df_raw4.to_csv('data2.csv', index=False)

In [6]:
df_raw4 = pd.read_csv('data2.csv')

In [7]:
df_raw4 = df_raw4.dropna(how='all')

In [8]:
df_raw4

                 datetime  choke   psig  apsig      oil    gas   water
0               15/5/2021    NaN    NaN    NaN      NaN    NaN     NaN
1                21:00:00   38.0  935.0  320.0  698.880  4.980  23.616
2                21:15:00   38.0  935.0  321.0  822.456  4.988  32.592
3                21:30:00   38.0  940.0  318.0  661.368  5.070  26.208
4                21:45:00   38.0  938.0  317.0  737.664  5.061  29.232
...                   ...    ...    ...    ...      ...    ...     ...
1954             23:00:00    NaN    NaN    NaN      NaN    NaN     NaN
1955             23:15:00    NaN    NaN    NaN      NaN    NaN     NaN
1956             23:30:00    NaN    NaN    NaN      NaN    NaN     NaN
1957             23:45:00    NaN    NaN    NaN      NaN    NaN     NaN
1958  1900-01-01 00:00:00    NaN    NaN    NaN      NaN    NaN     NaN

[1959 rows x 7 columns]

In [9]:
def is_valid_date(date_string, date_format='%d/%m/%Y'):
    try:
        datetime.strptime(date_string, date_format)
        return True
    except ValueError:
        return False

# Example usage:
date_string = '15/5/2021'
if is_valid_date(date_string, date_format='%d/%m/%Y'):
    print(f'{date_string} is a valid date.')
else:
    print(f'{date_string} is not a valid date.')

15/5/2021 is a valid date.

In [10]:
is_valid_date(df_raw4.iloc[0]['datetime'])

True

In [11]:
temp = '15/5/2021'
df_raw5 = df_raw4.copy()
for i in range(df_raw5.shape[0]):
  cell = df_raw4.iloc[i]['datetime']
  if is_valid_date(cell):
    temp = cell
  else:
    df_raw5.at[i, 'datetime'] = temp + ' ' + df_raw5.at[i, 'datetime']
    # temp = ''

In [12]:
# df_raw5 = df_raw5[df_raw5['choke'].notna()]

In [13]:
df_raw5.head()

             datetime  choke   psig  apsig      oil    gas   water
0           15/5/2021    NaN    NaN    NaN      NaN    NaN     NaN
1  15/5/2021 21:00:00   38.0  935.0  320.0  698.880  4.980  23.616
2  15/5/2021 21:15:00   38.0  935.0  321.0  822.456  4.988  32.592
3  15/5/2021 21:30:00   38.0  940.0  318.0  661.368  5.070  26.208
4  15/5/2021 21:45:00   38.0  938.0  317.0  737.664  5.061  29.232

In [14]:
df_raw5.to_csv('data3.csv', index=False)

In [15]:
df_raw6 = pd.read_csv('data3.csv')

In [21]:
df_raw6 = df_raw6.dropna(subset=['choke'])

In [23]:
df_raw6.to_csv('data4.csv', index=False)